section.main__contact {
    background: $silver;
    //padding-top: 60px;
    .contact__container {
        padding: 0 1.5em;
        width: calc(100% - 3em);
        .contact__side {
            margin:  0;
            text-align: center;
            .side__title {
                @include font($black, 3em, 900);
                letter-spacing: .5px;
                line-height: 0.75em;
                font-style:  italic;
                //margin-bottom: 15px;
                text-align: left;
                white-space: pre-line;
                padding: 0;
                @include size(tablet) {
                    @include font($black, 3em, 900);
                }
                @include size(tablet--pro) {
                    @include font($black, 6em, 900);
                }
            }
            @include size(tablet) {
                width: 32%;
            } 
            @include size(tablet--pro) {
                // left: 3em;
                // top: 0;
                // position: absolute;
                width: 35%;
            } 
            
        }
        .contact__content {
            padding: 0 0 30px 0;
            .contact__node {
                @include font($black, 0.85em, 300);
                line-height: 1.6em;
                padding: 2em 0;
            }
            @include size(tablet) {
                padding: 10px 0 50px 0;
                width: 65%;
            }  
            @include size(tablet--pro) {
                padding-top: 50px;
                width: 60%;
                .contact__node {
                    h3 {
                      @include font($black, 2.2em, 800);
                      padding-bottom: 15px;
                    }
                }
            }  
        }
        @include size(tablet) {
            display: flex;
            flex-direction: row;
            padding: 0 2em;
            position: relative;
            width: calc(100% - 4em);
        }
        @include size(tablet) {
            padding: 3em;
            width: calc(100% - 6em);
        }
        @include size(desktop) {
            margin: 0 auto;
            padding: 3em;
            width: calc(1200px - 6em);
        }
    }
    
}